<!--Table reclamation-->
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Table reclamation </span></h4>
    <div class="card">
    <h5 class="card-header">Mes reclamations</h5>
    <div class="table-responsive text-nowrap">
      <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            
            <th>Mission</th>
            <th>Date&nbsp;mission</th>
            <th>Nom&nbsp;prestataire</th>
            <th>Mission &nbsp;description</th>
            <th>Status </th>
            <th>Actions</th>
           </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          <tr *ngFor="let r of listReclamationcCoteUser">
           
            <td>{{r.mission}}</td>
            <td>{{r.datemission}}</td>
            <td>{{r.nomPrestataire}}</td>
            <td>{{r.missionDesc}}</td>
            <td><span class="badge bg-warning text-dark">{{r.status}}</span></td>
            <td>
              <!--
              <div class="dropdown">
                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                  <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item"        [routerLink]="['/repondreReclamation',r.nRec]" 
                  ><i class="bx bx-edit-alt me-1"></i> Répondre</a
                    >
                  <a class="dropdown-item"  [routerLink]="['/suppReclamation',r.nRec]" 
                  (click)="delete(r)"><i class="bx bx-trash me-1"></i> Supprimer</a
                  >
                </div>
              </div>
              -->
              <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-success">Modifier</button>
                <button type="button" class="btn btn-danger">Supprimer</button>
              </div>

            </td>
          </tr>
        
        </tbody>
      </table>
    </div>
    </div>
    </div>
</div>






