<section class="service_section layout_padding-bottom">
    <div class="container">
      <div class="custom_heading-container">
        <h3 class=" ">
          SERVICE Informatique
        </h3>
      </div>
    </div>
    

      <div class="service_container ">
        <div class="row">
          <div class="col-md-3">
            <div class="box b-1">
              <div class="img-box">
                <img src="assets/front/images/if11.PNG" alt="" style="width:300px;height:170px;">
              </div>
              <div class="btn-box">
                <a routerLink="/user/User/cour2">
                  Nettoyer mon ordinateur
                </a>
                <hr>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box b-2">
              <div class="img-box">
                <img src="assets/front/images/if12.PNG" alt="" style="width:300px;height:170px;">
              </div>
              <div class="btn-box">
                <a routerLink="/user/User/cour2">
                 Cours informatique
                </a>
                <hr>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box b-2">
              <div class="img-box">
                <img src="assets/front/images/if13.PNG"  alt="" style="width:300px;height:170px;">
              </div>
              <div class="btn-box">
                <a routerLink="/user/User/cour2">
                  Installer une ipmrimante
                </a>
                <hr>
              </div>

            </div>
          </div>
          
          
          <div class="col-md-3">
            <div class="box b-2">
              <div class="img-box">
                <img src="assets/front/images/if14.PNG" alt="" style="width:300px;height:170px;">
              </div>
              <div class="btn-box">
                <a routerLink="/user/User/cour2">
                 
              Installer une box            
                </a>
                <hr>
              </div>

            </div>
          </div>
          
                
                      
        </div>
      </div>
  </section>