<section class="service_section layout_padding-bottom">
    <div class="container">
        <div class="custom_heading-container">
          <h3 class=" ">
            Liste ville
          </h3>
        </div>
      </div>




      <div class="list-group" id="myList" role="tablist">
        <a class="list-group-item list-group-item-action active" data-toggle="list" role="tab">Tunis</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" routerLink="/user/User/pp" >Ariana</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" routerLink="/user/User/pp" >Béja</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" routerLink="/user/User/pp" role="tab">Sfax</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" routerLink="/user/User/pp" role="tab">Sousse</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" routerLink="/user/User/pp" role="tab">Kairouan</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" routerLink="/user/User/pp" role="tab">Bizerte</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" routerLink="/user/User/pp" role="tab">Gabès</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" routerLink="/user/User/pp" role="tab">Gafsa</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" routerLink="/user/User/pp" role="tab">	Kasserine</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" routerLink="/user/User/pp" role="tab">Ben Arous</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" routerLink="/user/User/pp" role="tab">	Monastir</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" routerLink="/user/User/pp" role="tab">	Médenine</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" routerLink="/user/User/pp" role="tab">Tataouine</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" routerLink="/user/User/pp" role="tab">Nabeul</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" routerLink="/user/User/pp" role="tab">Kef</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" routerLink="/user/User/pp" role="tab">Jendouba</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" routerLink="/user/User/pp" role="tab">	Sidi Bouzid</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" routerLink="/user/User/pp" role="tab">Tozeur</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" routerLink="/user/User/pp" role="tab">Siliana</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" routerLink="/user/User/pp" role="tab">Zaghouan</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" routerLink="/user/User/pp" role="tab">Kébili</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" routerLink="/user/User/pp" role="tab">Mahdia</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" routerLink="/user/User/pp" role="tab">Manouba</a>
      </div>
      
      <div class="tab-content">
        <div class="tab-pane active" id="home" role="tabpanel">...</div>
        <div class="tab-pane" id="profile" role="tabpanel">...</div>
        <div class="tab-pane" id="messages" role="tabpanel">...</div>
        <div class="tab-pane" id="settings" role="tabpanel">...</div>
      </div>
      
      <script>
        $(function () {
          $('#myList a:last-child').tab('show')
        })
      </script>
</section>

