<div class="custom_heading-container">
    <h3 class=" ">
      Liste des demandes
    </h3>
  </div>

  <section class="contact_section layout_padding">
  
    <div class="container layout_padding2-top">
      <div class="row">
        <div class="col-md-6 mx-auto">
    <table class="table">
      <thead class="table-warning">
        <tr>
          <th>N Demande</th>
          <th>id Client </th>
          <th>Nom Service</th>
          <th>Type Service</th>
          <th>Actions</th>
         </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        <tr *ngFor="let d of demandesList">
          <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{d.mail}}</strong></td>
          <td>{{d.id}}</td>
          <td>{{d.nomService}}</td>
          <td>{{d.typeService}}</td>
            <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                <i class="bx bx-dots-vertical-rounded"></i>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item"  routerLink="/prestataire/listclient" 
                (click)="Accepter(d)"><i class="bx bx-edit-alt me-1" ></i> Accepter</a>
                <a class="dropdown-item"  [routerLink]="['/suppDemande',d.nDemande]" 
                (click)="Supprimer(d.id)"><i class="bx bx-trash me-1"></i> Supprimer</a>
              </div>
            </div>
          </td>
        </tr>
      
      </tbody>
    </table>
  </div>
  </div>
</div>
</section>
  