
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Table reclamation </span></h4>
    <div class="card">
    <h5 class="card-header">Liste des Clients </h5>
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead>
          <tr>
            <th>Id_Prestataire</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Ville</th>
            <th>E-mail</th>
            <th>Telephone</th>
            <th>Mot de passe</th>
            <th>Experience</th>
            <th>Nom_Service</th>
            <th>Type_Service</th>
            <th>Actions</th>

           </tr>
        </thead>
   
          
      </table>
    </div>
    </div>
</div>
