<section class="service_section layout_padding-bottom">
    <div class="container">
      <div class="custom_heading-container">
        <h3 class=" ">
          SERVICE Aide à domicile
        </h3>
      </div>
    </div>


    <div class="container">
      <div class="slider_nav-box">
        <div class="custom_carousel-control">
          <a class="carousel-control-prev" routerLink="/user/User" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
          </a>  
        </div>
      </div>
    </div>
     
      <div class="service_container ">
        <div class="row">
          <div class="col-md-3">
            <div class="box b-1">
              <div class="img-box">
                <img src="assets/front/images/ad11.PNG" alt="" style="width:300px;height:170px;">
              </div>
              <div class="btn-box">
                <a routerLink="/user/User/cour2">
                    Maintien à domicile
                </a>
                <hr>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box b-2">
              <div class="img-box">
                <img src="assets/front/images/ad12.PNG" alt="" style="width:300px;height:170px;">
              </div>
              <div class="btn-box">
                <a routerLink="/user/User/cour2">
                 Livraison des médicaments
                </a>
                <hr>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box b-2">
              <div class="img-box">
                <img src="assets/front/images/ad13.PNG"  alt="" style="width:300px;height:170px;">
              </div>
              <div class="btn-box">
                <a routerLink="/user/User/cour2">
                  Faire / livrer des courses
                </a>
                <hr>
              </div>
  
            </div>
          </div>
          
          
          <div class="col-md-3">
            <div class="box b-2">
              <div class="img-box">
                <img src="assets/front/images/ad14.PNG" alt="" style="width:300px;height:170px;">
              </div>
              <div class="btn-box">
                <a routerLink="/user/User/cour2">
                 
                    Livraison à domicile            
                </a>
                <hr>
              </div>
  
            </div>
          </div>
          
         
          
          <div class="col-md-3">
            <div class="box b-2">
              <div class="img-box">
                <img src="assets/front/images/ad15.PNG" alt="" style="width:300px;height:170px;">
              </div>
              <div class="btn-box">
                <a routerLink="/user/User/cour2">
                 
                    Accompagnement en course            
                </a>
                <hr>
              </div>
  
            </div>
          </div>

          <div class="col-md-3">
            <div class="box b-2">
              <div class="img-box">
                <img src="assets/front/images/ad16.PNG" alt="" style="width:300px;height:170px;">
              </div>
              <div class="btn-box">
                <a routerLink="/user/User/cour2">
                 
                    Accompagnement aux rendez-vous médicaux           
                </a>
                <hr>
              </div>
  
            </div>
          </div>
          
          <div class="col-md-3">
            <div class="box b-2">
              <div class="img-box">
                <img src="assets/front/images/ad17.PNG" alt="" style="width:300px;height:170px;">
              </div>
              <div class="btn-box">
                <a routerLink="/user/User/cour2">
                 
              Préparer des repas            
                </a>
                <hr>
              </div>
  
            </div>
          </div>

          <div class="col-md-3">
            <div class="box b-2">
              <div class="img-box">
                <img src="assets/front/images/ad18.PNG" alt="" style="width:300px;height:170px;">
              </div>
              <div class="btn-box">
                <a routerLink="/user/User/cour2">
                 
              Serveur / Serveuse            
                </a>
                <hr>
              </div>
  
            </div>
          </div>

          <div class="col-md-3">
            <div class="box b-2">
              <div class="img-box">
                <img src="assets/front/images/ad19.PNG" alt="" style="width:300px;height:170px;">
              </div>
              <div class="btn-box">
                <a routerLink="/user/User/cour2">
                 
                    Retouche couture           
                </a>
                <hr>
              </div>
  
            </div>
          </div>
          
          
        </div>
      </div>
  </section>
  
  
