<section class="contact_section layout_padding">
    <div class="container layout_padding2-top">
      <div class="row">
        <div class="col-md-6 mx-auto">


<div>
<h2>Quel est votre besoin ?</h2>
</div>
<h6>Niveau d'enseignement demandé</h6>
<p>
    <a class="btn btn-light" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">enseignant supérieur</a>
   &nbsp;&nbsp;&nbsp;&nbsp;    <a class="btn btn-light" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Lycee</a>
   &nbsp;&nbsp;&nbsp;&nbsp;    <a class="btn btn-light" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Collége</a><br>
   &nbsp;&nbsp;&nbsp;&nbsp;    <a class="btn btn-light" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">primaire</a></p>


   <h6>Format du cours souhaité </h6> 
   <p>
   <a class="btn btn-light" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">A domicile</a>
   &nbsp;&nbsp;&nbsp;&nbsp;    <a class="btn btn-light" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">En ligne</a></p>

   <h6>Fréquence de la demande</h6>
   <p>
   <a class="btn btn-light" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">juste une fois</a>
   &nbsp;&nbsp;&nbsp;&nbsp;    <a class="btn btn-light" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Deux fois par mois</a><br>
   &nbsp;&nbsp;&nbsp;&nbsp;    <a class="btn btn-light" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Une fois par semaine</a>
   &nbsp;&nbsp;&nbsp;&nbsp;    <a class="btn btn-light" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Plusieur fois par semaine</a></p>
   
 <a routerLink="/">Retour</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="btn btn-success" routerLink="/user/User/cour2">
    continuer
  </button>

        </div></div></div></section>