<p>monprofil works!</p>
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/front/images/photo6.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Bouhleli</h5>
      <p class="card-text">je suis prestataire offre cette service ...... j'ai 27 ans de enkhilet Ariana j'ai 5 ans d'experience </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Mes Amis</li>
      <li class="list-group-item">Mes Images</li>
      <li class="list-group-item">mes Vidéos</li>
      <li class="list-group-item" >A propos</li>

    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Modifier mon profil</a>
      <a href="#" class="card-link">A propos </a>
    </div>
  </div>