<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	
	<div class="row">
		<div class="col-xs-12 col-md-4 col-lg-3">
			<div class="userProfileInfo">
				<div class="image text-center">
					<img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="#" class="img-responsive">
					<a href="#" title="#" class="editImage">
						<i class="fa fa-camera"></i>
					</a>
				</div>
				<div class="box">
					<div class="name"><strong>John Doe</strong></div>
					<div class="info">
						<span><i class="fa fa-fw fa-clock-o"></i> <a href="tel:+4210555888777" title="#">+421 (0) 555 888 777</a></span>
						<span><i class="fa fa-fw fa-list-alt"></i> <a href="#" title="#">name@example.com</a></span>
						<span><i class="fa fa-fw fa-usd"></i> Best street No. 554/7A<br>949 01 Florida<br>United States</span>
					</div>
					<div class="socialIcons clearfix">
						<a href="#" title="#" class="fb">
							<i class="fa fa-facebook"></i>
						</a>
						<a href="#" title="#" class="twitter">
							<i class="fa fa-twitter"></i>
						</a>
						<a href="#" title="#" class="google-plus">
							<i class="fa fa-google-plus"></i>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-md-8 col-lg-9">
			<div class="box">
				<h2 class="boxTitle">Personal information</h2>
				<!-- Tabs -->
                <div class="li">
				<ul class="nav nav-tabs userProfileTabs" role="tablist">
					<li role="presentation" class=""><a href="#tab-item-1" aria-controls="tab-item-1" role="tab" data-toggle="tab" aria-expanded="false" id="maj">
                        Modifier pofil</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<li role="presentation" class="active"><a href="#tab-item-2" aria-controls="tab-item-2" role="tab" data-toggle="tab" aria-expanded="true" id="vd">Mes vedio</a></li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<li role="presentation" class=""><a href="#tab-item-3" aria-controls="tab-item-3" role="tab" data-toggle="tab" aria-expanded="false" id="img">Mes photos</a></li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<li role="presentation" class=""><a href="#tab-item-4" aria-controls="tab-item-4" role="tab" data-toggle="tab" aria-expanded="false" id="amis">Friends</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li role="presentation" class=""><a href="#tab-item-5" aria-controls="tab-item-5" role="tab" data-toggle="tab" aria-expanded="false" id="app">Apropos</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</ul>
                </div>

				<div class="tab-content">
					<!-- About -->
					<div role="tabpanel" class="tab-pane fade" id="tab-item-1">
						<div class="userProfileContent">
							

							<div class="i">
								
								<ul class="simpleListings">
									<form>
                                        <div class="form-group">
                                          <label for="exampleInputEmail1">Nom</label>
                                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                          <small id="emailHelp" class="form-text text-muted"></small>
                                        </div>
                                        <div class="form-group">
                                          <label for="exampleInputPassword1">Prenom</label>
                                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">E-mail</label>
                                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                          </div>
                                          <div class="form-group">
                                            <label for="exampleInputPassword1">mot de passe </label>
                                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                          </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">Ville</label>
                                            <select class="form-control" id="exampleFormControlSelect1">

                                                <option>Ariana</option>
                                                <option>Tunis</option>	
                                                <option>Ben Arous</option>
                                                <option>La Manouba</option> 
                                               <option> Béja</option>	
                                               <option>Bizerte</option>	
                                               <option>Gabès</option> 	
                                               <option>Gafsa</option> 	
                                               <option> Jendouba</option>	
                                               <option>Kairouan</option> 	
                                               <option>Kasserine</option> 	
                                               <option>Kébili</option> 	
                                               <option>Le Kef</option>  	
                                               <option>Mahdia</option>		
                                               <option>Médenine	</option> 
                                                <option>Monastir</option> 	
                                                <option>Nabeul</option> 	
                                                <option>Sfax</option>	
                                                <option>Sidi Bouzid</option>	
                                                <option> Siliana</option>
                                                <option>Sousse</option>
                                                <option>Tataouine</option> 	
                                                <option> Tozeur</option>	
                                                <option>Zaghouan</option>
                                            </select>
                                          </div>
                                          <div class="form-group">
                                            <label for="exampleInputPassword1">Telephone</label>
                                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                          </div>
                                          <div class="form-group">
                                            <label for="selection">Services</label>
              <select id="selection" class="form-control">
                <option value="">Liste Services...</option>
                <optgroup label="Bricolage">
                  <option value=""></option>
                  <option value="">Aménagement</option>
                  <option value="">Eléctricité</option>
                  <option value="">Rénovation</option>
                  <option value="">Plomberie</option>
                </optgroup>
                <optgroup label="Jardinage">
                  <option value="">Tondre la pelouse</option>
                  <option value="">Taille de haie</option>
                  <option value="">Débrouissage</option>
                  <option value="">Déserbage</option>
                  <option value="">Ranger des bois</option>
                  <option value="">Entretien des espaces verre</option>
                  <option value="">Entretien de gazon</option>
                  <option value="">Nettoyage des terrasse</option>
                  <option value="">Saler autour de maison</option>
                  
                </optgroup>
                <optgroup label="Déménagement">
                  <option value="">Aide au déménagement</option>
                  <option value="">Déplacer un meuble</option>
                  <option value="">Déplacer de l'éléctromenager</option>
                  <option value="">Débarrasser des encombrants</option>
            
                </optgroup>
                <optgroup label="Ménage">
                  <option value="">Ménage à domicile</option>
                  <option value="">Ménage d'état de lieu</option>
                  <option value="">Repassage </option>
                  <option value="">Lavage automobile</option>
                  <option value="">Netoyage de vitres</option>
                </optgroup>
                <optgroup label="Enfants">
                  <option value="">Garde d'enfants</option>
                  <option value="">Garde périscolaire</option>
                  
                </optgroup>
                <optgroup label="Informatique">
                  <option value="">Nettoyer mon ordinateur</option>
                  <option value="">Cours informatique</option>
                  <option value="">Installer une imprimante</option>
                  <option value="">Installer une box</option>
                </optgroup>
                <optgroup label="Aide à domicile">
                  <option value="">Maintien à domicile</option>
                  <option value="">Livraison des médicaments</option>
                  <option value="">Livrer des courses</option>
                  <option value="">Livraison à domicile</option>
                  <option value="">Accompagnement en course</option>
                  <option value="">Accompagnement au rendez-vous médicaux</option>
                  <option value="">Preparer des repas</option>
                  <option value="">Serveur/Serveuse</option>
                  <option value="">Retouche couture</option>
                </optgroup>
                <optgroup label="Cours particulier">
                  <option value="">Lanque</option>
                  <option value="">Matiére</option>
                  
                </optgroup>
              </select>
                                          </div>
                                        
                                        <button type="submit" class="btn btn-primary">Modifier</button>
                                      </form>
									
									
								</ul>
							</div>

							<div class="i">
								
							</div>
						</div>
					</div>

					<!-- Activities -->
					<div role="tabpanel" class="tab-pane fade active in" id="tab-item-2">
						<div class="userActivities">
							<div class="i">
								<a href="#" title="#" class="image">
									<img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="#" width="44" height="44">
								</a>
								<div class="activityContent">
									
									

									<!-- Comments -->
									<ul class="simpleListings comments">
										
										
										<li>
											<a href="#" title="#" class="image">
												<img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="#" width="44" height="44">
											</a>
											<div class="c">
												<video width="320" height="240" controls>
                                                    <source src="assets/front/video/vd1.mp4" />
                                                     <source src="">
                                                  </video>
											</div>
										</li>
									</ul> 
								</div>
							</div>

						
									
									<!-- Comments -->
									


                                    <div class="userActivities">
                                        <div class="i">
                                            <a href="#" title="#" class="image">
                                                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="#" width="44" height="44">
                                            </a>
                                            <div class="activityContent">
                                                
                                                
            
                                                <!-- Comments -->
                                                <ul class="simpleListings comments">
                                                    
                                                    
                                                    <li>
                                                        <a href="#" title="#" class="image">
                                                            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="#" width="44" height="44">
                                                        </a>
                                                        <div class="c">
                                                            <video width="320" height="240" controls>
                                                                <source src="assets/front/video/vd1.mp4" />
                                                                 <source src="">
                                                              </video>
                                                        </div>
                                                    </li>
                                                </ul> 
                                            </div>
                                        </div>




								</div>
							</div>
						

					<!-- Photos -->
					<div role="tabpanel" class="tab-pane fade" id="tab-item-3">
						

                        
					</div>

					<!-- Friends -->
					<div role="tabpanel" class="tab-pane fade" id="tab-item-4">
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>