<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	
	<div class="row">
		<div class="col-xs-12 col-md-4 col-lg-3">
			<div class="userProfileInfo">
				<div class="image text-center">
					<img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="#" class="img-responsive">
					<a href="#" title="#" class="editImage">
						<i class="fa fa-camera"></i>
					</a>
				</div>
				<div class="box">
					<div class="name"><strong>Ben Hamouda Mohamed</strong></div>
					<div class="info">
						<span><i class="fa fa-fw fa-clock-o"></i> <a href="tel:+4210555888777" title="#">+216  555 888 777</a></span>
						<span><i class="fa fa-fw fa-list-alt"></i> <a href="#" title="#">Mohamed@gmail.com</a></span>
						<span><i class="fa fa-fw fa-usd"></i> Mes service entre <br>30dt  et <br>200dt</span>
					</div>
					<div class="socialIcons clearfix">
						
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-md-8 col-lg-9">
			<div class="box">
				<h2 class="boxTitle">Bienvenue prestataire</h2>
				<!-- Tabs -->
                <div class="li">
				<ul class="nav nav-tabs userProfileTabs" role="tablist">
					<li role="presentation" class=""><a href="#tab-item-1" aria-controls="tab-item-1" role="tab" data-toggle="tab" aria-expanded="false" id="maj">
                        Modifier pofil</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <li role="presentation" class=""><a href="#tab-item-5" aria-controls="tab-item-5" role="tab" data-toggle="tab" aria-expanded="false" id="fichier">Gestion fichier</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

					<li role="presentation" class="active"><a href="#tab-item-2" aria-controls="tab-item-2" role="tab" data-toggle="tab" aria-expanded="true" id="vd">Mes video</a></li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<li role="presentation" class=""><a href="#tab-item-3" aria-controls="tab-item-3" role="tab" data-toggle="tab" aria-expanded="false" id="img">Mes photos</a></li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<li role="presentation" class=""><a href="#tab-item-4" aria-controls="tab-item-4" role="tab" data-toggle="tab" aria-expanded="false" id="amis">Mes amis</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
				</ul>
                </div>

				<div class="tab-content">
					<!-- About -->
					<div role="tabpanel" class="tab-pane fade" id="tab-item-1">
						<div class="userProfileContent">
							

							<div class="i">
								
								<ul class="simpleListings">
									<form>
                                        <div class="form-group">
                                          <label for="exampleInputEmail1">Nom</label>
                                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                          <small id="emailHelp" class="form-text text-muted"></small>
                                        </div>
                                        <div class="form-group">
                                          <label for="exampleInputPassword1">Prenom</label>
                                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">E-mail</label>
                                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                          </div>
                                          <div class="form-group">
                                            <label for="exampleInputPassword1">mot de passe </label>
                                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                          </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">Ville</label>
                                            <select class="form-control" id="exampleFormControlSelect1">

                                                <option>Ariana</option>
                                                <option>Tunis</option>	
                                                <option>Ben Arous</option>
                                                <option>La Manouba</option> 
                                               <option> Béja</option>	
                                               <option>Bizerte</option>	
                                               <option>Gabès</option> 	
                                               <option>Gafsa</option> 	
                                               <option> Jendouba</option>	
                                               <option>Kairouan</option> 	
                                               <option>Kasserine</option> 	
                                               <option>Kébili</option> 	
                                               <option>Le Kef</option>  	
                                               <option>Mahdia</option>		
                                               <option>Médenine	</option> 
                                                <option>Monastir</option> 	
                                                <option>Nabeul</option> 	
                                                <option>Sfax</option>	
                                                <option>Sidi Bouzid</option>	
                                                <option> Siliana</option>
                                                <option>Sousse</option>
                                                <option>Tataouine</option> 	
                                                <option> Tozeur</option>	
                                                <option>Zaghouan</option>
                                            </select>
                                          </div>
                                          <div class="form-group">
                                            <label for="exampleInputPassword1">Telephone</label>
                                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                          </div>
                                          <div class="form-group">
                                            <label for="selection">Services</label>
              <select id="selection" class="form-control">
                <option value="">Liste Services...</option>
                <optgroup label="Bricolage">
                  <option value=""></option>
                  <option value="">Aménagement</option>
                  <option value="">Eléctricité</option>
                  <option value="">Rénovation</option>
                  <option value="">Plomberie</option>
                </optgroup>
                <optgroup label="Jardinage">
                  <option value="">Tondre la pelouse</option>
                  <option value="">Taille de haie</option>
                  <option value="">Débrouissage</option>
                  <option value="">Déserbage</option>
                  <option value="">Ranger des bois</option>
                  <option value="">Entretien des espaces verre</option>
                  <option value="">Entretien de gazon</option>
                  <option value="">Nettoyage des terrasse</option>
                  <option value="">Saler autour de maison</option>
                  
                </optgroup>
                <optgroup label="Déménagement">
                  <option value="">Aide au déménagement</option>
                  <option value="">Déplacer un meuble</option>
                  <option value="">Déplacer de l'éléctromenager</option>
                  <option value="">Débarrasser des encombrants</option>
            
                </optgroup>
                <optgroup label="Ménage">
                  <option value="">Ménage à domicile</option>
                  <option value="">Ménage d'état de lieu</option>
                  <option value="">Repassage </option>
                  <option value="">Lavage automobile</option>
                  <option value="">Netoyage de vitres</option>
                </optgroup>
                <optgroup label="Enfants">
                  <option value="">Garde d'enfants</option>
                  <option value="">Garde périscolaire</option>
                  
                </optgroup>
                <optgroup label="Informatique">
                  <option value="">Nettoyer mon ordinateur</option>
                  <option value="">Cours informatique</option>
                  <option value="">Installer une imprimante</option>
                  <option value="">Installer une box</option>
                </optgroup>
                <optgroup label="Aide à domicile">
                  <option value="">Maintien à domicile</option>
                  <option value="">Livraison des médicaments</option>
                  <option value="">Livrer des courses</option>
                  <option value="">Livraison à domicile</option>
                  <option value="">Accompagnement en course</option>
                  <option value="">Accompagnement au rendez-vous médicaux</option>
                  <option value="">Preparer des repas</option>
                  <option value="">Serveur/Serveuse</option>
                  <option value="">Retouche couture</option>
                </optgroup>
                <optgroup label="Cours particulier">
                  <option value="">Lanque</option>
                  <option value="">Matiére</option>
                  
                </optgroup>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleInputFile" >Image</label> <br>
              <input type="file" id="exampleInputFile">
             
            </div>
                                        
            <button type="submit" class="btn btn-primary">Modifier</button>
                   </form>
									
									
								</ul>
							</div>

							<div class="i">
								
							</div>
						</div>
					</div>
	<!-- gest fcher -->
  <div role="tabpanel" class="tab-pane fade" id="tab-item-5">
    
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Table fichiers </span></h4>
      <div class="card">
      <h5 class="card-header">List Fichiers</h5>
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Fichier</th>
              <th>Publié le</th>
              <th>Type</th>
             </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            <tr *ngFor="let f of Listfichier">
              <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{f.idFichier}}</strong></td>
              <td></td>
              <td>{{f.date}}</td>
              <td>{{f.typefichier}}</td>
                <td>
                <div class="dropdown">
                  <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <i class="bx bx-dots-vertical-rounded"></i>
                  </button>
                  
                </div>
              </td>
            </tr>
          
          </tbody>
        </table>
      </div>
      </div>
    </div>
    
      
      &nbsp;
      &nbsp;
      &nbsp;
    
      <h5 class=" ">
        Pour uploder un fichier:
      </h5>
    
    <div class="container">
    
    <form method="post" action="reception.php" enctype="multipart/form-data">
        <label for="mon_fichier">Fichier(video, photo) (tous formats | max. 1 Mo) :</label><br />
        <input type="hidden" name="MAX_FILE_SIZE" value="1048576" />
        <input type="file" name="mon_fichier" id="mon_fichier" /><br />
        <label for="titre">Titre du fichier (max. 50 caractères) :</label><br />
        <input type="text" name="titre" value="" id="titre"  placeholder="Titre de fichier" /><br />
        <label for="description">Description de votre fichier (max. 255 caractères) :</label><br />
        <textarea name="description" id="description"></textarea><br />
        <input type="submit"  class="btn btn-primary" name="submit" value="Upload" />
    </form>
    </div>
    
  </div>
					
					<!-- Activities -->
					<div role="tabpanel" class="tab-pane fade active in" id="tab-item-2">
						<div class="userActivities">
							<div class="i">
								<a href="#" title="#" class="image">
									<img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="#" width="44" height="44">
								</a>
								<div class="activityContent">
									<ul class="simpleListings comments">
										<li class="showComments">
											<a href="#" title="#"> <strong> Vidéo Bricolage</strong></a>
										</li>
										
										<li>
											<a href="#" title="#" class="itemOptions"><i class="fa fa-cog"></i></a>
											<a href="#" title="#" class="image">
												<img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="#" width="44" height="44">
											</a>
											<div class="c">
												<video width="320" height="240" controls>
                          <source  src="../assets/front/videos/vd1.mp4">
                        </video>
											</div>
										</li>
										
									</ul> 
									

									<!-- Comments -->
									<ul class="simpleListings comments">
										<li class="showComments">
											<a href="#" title="#"> <strong> Vidéo Bricolage</strong></a>
										</li>
										
										<li>
											<a href="#" title="#" class="itemOptions"><i class="fa fa-cog"></i></a>
											<a href="#" title="#" class="image">
												<img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="#" width="44" height="44">
											</a>
											<div class="c">
												<video width="320" height="240" controls>
                          <source  src="../assets/front/videos/vd2.mp4">
                        </video>
											</div>
										</li>
										
									</ul> 
								</div>
							</div>

							
						</div>
						<!-- Show more -->
						
					</div>

					<!-- Photos -->
					<div role="tabpanel" class="tab-pane fade" id="tab-item-3">
						<div class="card" style="width: 18rem;">
              <img src="../assets/front/images/exemple.jpg" class="card-img-top" alt="">
              <div class="card-body">
                <p class="card-text">Exemple de mon travail</p>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="../assets/front/images/exemple2.jpg" class="card-img-top" alt="">
              <div class="card-body">
                <p class="card-text">Exemple de mon travail</p>
              </div>
            </div>
					</div>

					<!-- Friends -->
					<div role="tabpanel" class="tab-pane fade" id="tab-item-4">
            <div class="container">
              <div class="row">
                  <div class="col-md-8">
                      <div class="people-nearby">
                        
                        <div class="nearby-user">
                          <div class="row">
                            <div class="col-md-2 col-sm-2">
                              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="profile-photo-lg">
                            </div>
                            <div class="col-md-7 col-sm-7">
                              <h5><a href="#" class="profile-link">Jabri samir</a></h5>
                              <p>Jardinage</p>
                              
                            </div>
                            <div class="col-md-3 col-sm-3">
                              <button class="btn btn-primary pull-right">Retirer</button>
                            </div>
                          </div>
                        </div>
                        <div class="nearby-user">
                          <div class="row">
                            <div class="col-md-2 col-sm-2">
                              <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="user" class="profile-photo-lg">
                            </div>
                            <div class="col-md-7 col-sm-7">
                              <h5><a href="#" class="profile-link">Ben Mahmoud Rami</a></h5>
                              <p>Bricolage</p>
                              
                            </div>
                            <div class="col-md-3 col-sm-3">
                              <button class="btn btn-primary pull-right">Retirer</button>
                            </div>
                          </div>
                        </div>
                        <div class="nearby-user">
                          <div class="row">
                            <div class="col-md-2 col-sm-2">
                              <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="user" class="profile-photo-lg">
                            </div>
                            <div class="col-md-7 col-sm-7">
                              <h5><a href="#" class="profile-link">Ayad Majdi</a></h5>
                              <p>Amenagement</p>
                              
                            </div>
                            <div class="col-md-3 col-sm-3">
                              <button class="btn btn-primary pull-right">Retirer</button>
                            </div>
                          </div>
                        </div>
                        <div class="nearby-user">
                          <div class="row">
                            <div class="col-md-2 col-sm-2">
                              <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="user" class="profile-photo-lg">
                            </div>
                            <div class="col-md-7 col-sm-7">
                              <h5><a href="#" class="profile-link">Mahmoudi Aliya</a></h5>
                              <p>Garde d'enfants</p>
                            
                            </div>
                            <div class="col-md-3 col-sm-3">
                              <button class="btn btn-primary pull-right">Retirer</button>
                            </div>
                          </div>
                        </div>
                        <div class="nearby-user">
                          <div class="row">
                            <div class="col-md-2 col-sm-2">
                              <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="user" class="profile-photo-lg">
                            </div>
                            <div class="col-md-7 col-sm-7">
                              <h5><a href="#" class="profile-link">Ghaouari yassine </a></h5>
                              <p>Cours informatique</p>
                              
                            </div>
                            <div class="col-md-3 col-sm-3">
                              <button class="btn btn-primary pull-right">Retirer</button>
                            </div>
                          </div>
                        </div>
                        <div class="nearby-user">
                          <div class="row">
                            <div class="col-md-2 col-sm-2">
                              <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="user" class="profile-photo-lg">
                            </div>
                            <div class="col-md-7 col-sm-7">
                              <h5><a href="#" class="profile-link">ben Ayed mahdi</a></h5>
                              <p>Saler autour de maison</p>
                             
                            </div>
                            <div class="col-md-3 col-sm-3">
                              <button class="btn btn-primary pull-right">Retirer</button>
                            </div>
                          </div>
                        </div>
                        <div class="nearby-user">
                          <div class="row">
                            <div class="col-md-2 col-sm-2">
                              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="profile-photo-lg">
                            </div>
                            <div class="col-md-7 col-sm-7">
                              <h5><a href="#" class="profile-link">Ouislati Amar</a></h5>
                              <p>Plomberie</p>
                             
                            </div>
                            <div class="col-md-3 col-sm-3">
                              <button class="btn btn-primary pull-right">Retirer</button>
                            </div>
                          </div>
                        </div>
                        <div class="nearby-user">
                          <div class="row">
                            <div class="col-md-2 col-sm-2">
                              <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="user" class="profile-photo-lg">
                            </div>
                            <div class="col-md-7 col-sm-7">
                              <h5><a href="#" class="profile-link">Besbes Ayda</a></h5>
                              <p>Ménage à domicile</p>
                            
                            </div>
                            <div class="col-md-3 col-sm-3">
                              <button class="btn btn-primary pull-right">Retirer</button>
                            </div>
                          </div>
                        </div>
                        <div class="nearby-user">
                          <div class="row">
                            <div class="col-md-2 col-sm-2">
                              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="user" class="profile-photo-lg">
                            </div>
                            <div class="col-md-7 col-sm-7">
                              <h5><a href="#" class="profile-link">Hamoudi Imed</a></h5>
                              <p>Garde périscolaire</p>
                             
                            </div>
                            <div class="col-md-3 col-sm-3">
                              <button class="btn btn-primary pull-right">Retirer</button>
                            </div>
                          </div>
                        </div>
                        <div class="nearby-user">
                          <div class="row">
                            <div class="col-md-2 col-sm-2">
                              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="profile-photo-lg">
                            </div>
                            <div class="col-md-7 col-sm-7">
                              <h5><a href="#" class="profile-link">Bahloul Aymen</a></h5>
                              <p>Livraison des médicaments</p>
                          
                            </div>
                            <div class="col-md-3 col-sm-3">
                              <button class="btn btn-primary pull-right">Retirer</button>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
          </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>