<section class="service_section layout_padding-bottom">
    <div class="container">
      <div class="custom_heading-container">
        <h3 class=" ">
          SERVICE jardinage
        </h3>
      </div>
    </div>
    
      <div class="service_container ">
        <div class="row">
          <div class="col-md-3">
            <div class="box b-1">
              <div class="img-box">
                <img src="assets/front/images/j1.png" alt="" style="width:300px;height:170px;">
              </div>
              <div class="btn-box">
                <a routerLink="/user/User/cour2">
                 Tondre de poulouse
                </a>
                <hr>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box b-2">
              <div class="img-box">
                <img src="assets/front/images/j2.PNG" alt="" style="width:300px;height:170px;">
              </div>
              <div class="btn-box">
                <a routerLink="/user/User/cour2">
                 Taille de haie
                </a>
                <hr>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box b-2">
              <div class="img-box">
                <img src="assets/front/images/j3.PNG"  alt="" style="width:300px;height:170px;">
              </div>
              <div class="btn-box">
                <a routerLink="/user/User/cour2">
                 Débroussaillage
                </a>
                <hr>
              </div>

            </div>
          </div>
          
          
          <div class="col-md-3">
            <div class="box b-2">
              <div class="img-box">
                <img src="assets/front/images/j4.PNG" alt="" style="width:300px;height:170px;">
              </div>
              <div class="btn-box">
                <a routerLink="/user/User/cour2">
                 Déserbage
                </a>
                <hr>
              </div>

            </div>
          </div>
          <div class="col-md-3">
            <div class="box b-2">
              <div class="img-box">
                <img src="assets/front/images/j5.PNG" alt="" style="width:300px;height:170px;">
              </div>
              <div class="btn-box">
                <a routerLink="/user/User/cour2">
                  Ranger du bois
                </a>
                <hr>
              </div> 
        </div>
      </div>

                <div class="col-md-3">
                    <div class="box b-2">
                      <div class="img-box">
                        <img src="assets/front/images/j6.PNG" alt="" style="width:300px;height:170px;">
                      </div>
                      <div class="btn-box">
                        <a routerLink="/user/User/cour2">
                         Entretien des espaces verre
                        </a>
                        <hr>
                      </div>
                </div>
              </div>

    
                        <div class="col-md-3">
                            <div class="box b-2">
                              <div class="img-box">
                                <img src="assets/front/images/j7.PNG" alt="" style="width:300px;height:170px;">
                              </div>
                              <div class="btn-box">
                                <a routerLink="/user/User/cour2">
                                 Entretien de gazon
                                </a>
                                <hr>
                              </div>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="box b-2">
                          <div class="img-box">
                            <img src="assets/front/images/j8.PNG" alt="" style="width:300px;height:170px;">
                          </div>
                          <div class="btn-box">
                            <a routerLink="/user/User/cour2">
                             Nettoyage de terrasse
                            </a>
                            <hr>
                          </div>
                        
                    </div>
                  </div>

        </div>
      </div>
  </section>



