<section class="contact_section layout_padding">
    <div class="custom_heading-container">
      <h3 class=" ">
        RapidService
      </h3>
    </div>

   
    <div class="text-center">
        <img src="assets/front/images/user14.jpg" class="rounded" alt="...">
        
        <img src="assets/front/images/user15.jpg" class="rounded" alt="...">
          </div>

        <div class="container">
            <div class="custom_heading-container">
            <div class="btn-box">
              <a routerLink="/inscriptionprestataire">
                Devenir prestatire 
              </a>
              <hr>
            </div>
          </div>
      </div>

      <div class="container">
        <div class="custom_heading-container">
        <div class="btn-box">
          <a routerLink="/inscriptionclient">
            J'ai besoin d'un service 
          </a>
          <hr>
        </div>
      </div>
  </div>

</section>








