<div class="container">
    <div class="row ng-scope">
        <div class="col-md-3 col-md-push-9">
            <h4>Results <span class="fw-semi-bold">Filtering</span></h4>
            <p class="text-muted fs-mini">Listed content is categorized by the following groups:</p>
           
        </div>
        <div class="col-md-9 col-md-pull-3">
        
    
    
              <table class="table">
                <thead>
                  <tr>
    
                    <th>photos DE profil</th>
                    <th>Nom</th>
                    <th> Prenom</th>
                   
                
                   </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                  <tr *ngFor="let CL of clientList">
            
                    <td> <img  class="img" src="{{CL.photosprofil}}" alt=""></td>
    
                    <td>{{CL.nom}}</td>
                     <td>{{CL.prenom}}</td>
               
                     <td><a routerLink="/user/ser/pr">Voir le profil</a></td>
                     <button  class="btn btn-info">supprimer</button>
                  
             </tr>
                </tbody>
                              </table>
                              <div class="text-align-center">
                                <ul class="pagination pagination-sm">
                                    <li class="disabled"><a href="#">Prev</a>
                                    </li>
                                    <li class="active"><a href="#">1</a>
                                    </li>
                                    <li><a href="#">2</a>
                                    </li>
                                    <li><a href="#">3</a>
                                    </li>
                                    <li><a href="#">4</a>
                                    </li>
                                    <li><a href="#">5</a>
                                    </li>
                                    <li><a href="#">Next</a>
                                    </li>
                                </ul>
                            </div>
                            </div>
                          </div>
                        </div>
    
             
            
              
    
    
    
    
    
    
    
    
    
    
    
    
    
    



