<section class="service_section layout_padding-bottom">
    <div class="container">
      <div class="custom_heading-container">
        <h3 class=" ">
          OUR SERVICES
        </h3>
      </div>
    </div>
      <p class="">
        Trouvez le prestataire idéal pour tous les services du quotidien        </p>
      <div class="service_container ">
        <div class="row">
          <div class="col-md-3">
            <div class="box b-1">
              <div class="img-box">
                <img src="assets/front/images/s-1.jpg" alt="" style="width:300px;height:170px;">
              </div>
              <div class="detail-box">
                <h6>
                  Bricolage
                </h6>
               
                <div class="btn-box">
                  <a routerLink="/user/ser/bs">
                    Read More
                  </a>
                  <hr>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box b-2">
              <div class="img-box">
                <img src="assets/front/images/s-2.jpg" alt="" style="width:300px;height:170px;">
              </div>
              <div class="detail-box">
                <h6>
                  Jardinage
                </h6>
              
                <div class="btn-box">
                  <a routerLink="/user/ser/js">
                    Read More
                  </a>
                  <hr>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box b-2">
              <div class="img-box">
                <img src="assets/front/images/s-3.jpg"  alt="" style="width:300px;height:170px;">
              </div>
              <div class="detail-box">
                <h6>
                  Déménagement
                </h6>
              
                <div class="btn-box">
                  <a routerLink="/user/ser/ds">
                    Read More
                  </a>
                  <hr>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box b-2">
              <div class="img-box">
                <img src="assets/front/images/s-4.jpg"alt="" style="width:300px;height:170px;">
              </div>
              <div class="detail-box">
                <h6>
                  Ménage
                </h6>
              
                <div class="btn-box">
                  <a routerLink="/user/ser/ms">
                    Read More
                  </a>
                  <hr>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box b-2">
              <div class="img-box">
                <img src="assets/front/images/een.png" alt="" style="width:300px;height:170px;">
              </div>
              <div class="detail-box">
                <h6>
                  Enfants
                </h6>
              
                <div class="btn-box">
                  <a routerLink="/user/ser/es">
                    Read More
                  </a>
                  <hr>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box b-2">
              <div class="img-box">
                <img src="assets/front/images/iin.png" alt="" style="width:300px;height:170px;">
              </div>
              <div class="detail-box">
                <h6>
                  Informatique
                </h6>
              
                <div class="btn-box">
                  <a routerLink="/user/ser/ys">
                    Read More
                  </a>
                  <hr>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box b-2">
              <div class="img-box">
                <img src="assets/front/images/aai.PNG" alt="" style="width:300px;height:170px;">
              </div>
              <div class="detail-box">
                <h6>
                  Aide à domicile
                </h6>
              
                <div class="btn-box">
                  <a routerLink="/user/ser/ads">
                    Read More
                  </a>
                  <hr>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="box b-2">
              <div class="img-box">
                <img src="assets/front/images/cco.PNG" alt="" style="width:300px;height:170px;">
              </div>
              <div class="detail-box">
                <h6>
                  Cours particulier
                </h6>
              
                <div class="btn-box">
                  <a routerLink="/user/ser/cs">
                    Read More
                  </a>
                  <hr>
                </div>
              </div>
            </div>
          </div>



          
        </div>
      </div>
  </section>


